{erl_opts, [debug_info]}.
{deps, 
  [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {bcrypt, {git, "https://github.com/erlangpack/bcrypt.git", {branch, "1.0.1"}}},
    {riakc, {git, "git://github.com/basho/riak-erlang-client.git", {branch, "master"}}}
  ]
}.
{overrides,
 [
  {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},
  {override, protobuffs, [{deps, []}]},
  {override, hamcrest, [{plugins, []}]},
  {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
                                  {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                  {branch, "master"}}},
                                  {rebar3_protobuffs_plugin,
                                  {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
                                  {tag, "0.1.1"}}}]},
                       {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                                                {compile, riak_pb_msgcodegen}]}]}]}]
}.
{dist_node, [{name, 'gs@local'}]}.
{plugins, [rebar3_auto]}.
{shell, [{apps, [crypto, bcrypt, mnesia, cowlib, ranch, cowboy, gs]}]}.