{erl_opts, [debug_info]}.
{deps, 
  [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {bcrypt, {git, "https://github.com/erlangpack/bcrypt.git", {branch, "1.0.1"}}}
  ]
}.
{dist_node, [{name, 'gs@local'}]}.
{plugins, [rebar3_auto]}.
{shell, [{apps, [crypto, bcrypt, mnesia, cowlib, ranch, cowboy, gs]}]}.