<template id="content">
</template>

<script>
    let appRouterTemplate = document.currentScript.ownerDocument;

    class AppRouter extends HTMLElement {

        constructor() {
            super();

            // Map with functions for commands i.e. the attribute name
            this.attrCommands = {
                element: (oldValue, newValue) => {
                    console.log(`oldValue: ${oldValue}, newValue: ${newValue}`);
                    if (oldValue === newValue || newValue == null) {
                        console.log("Skipping...no application state change.");
                        return;
                    }
                    this.shadowRoot.childNodes.forEach(function(child) {
                        this.removeChild(child);
                    }.bind(this.shadowRoot));
                    // Attempt to create the element, if it fails it probably just didn't exist
                    try {
                        this.shadowRoot.appendChild(document.createElement(newValue));
                    } catch (error) {
                        console.log(error);
                    }
                }
            };

            this.routes = {};

            this.attachShadow({mode: 'open'});
        }

        static get observedAttributes() {
            return ['element']
        }

        attributeChangedCallback(attr, oldValue, newValue) {
            AppRouter.observedAttributes.map(attr => {
                this.attrCommands[attr](oldValue, newValue);
            });
        }

        connectedCallback() {
            this.currentContentElement = appRouterTemplate.querySelector("#content");

            // Listen to popstate event which is triggered by hash change event
            window.addEventListener('popstate', this.stateChange.bind(this), false);

            // Register all of the routes as defined in the child elements
            for(let i = 0; i < this.childElementCount; i++) {
                let [path, element] = [this.children[i].attributes.getNamedItem("path").value, this.children[i].attributes.getNamedItem("element").value];
                if (element.hasOwnProperty(path)) {
                    console.log(`
                        Opps, I got dead. A mapping for the path ${path} already exists to the element ${this.routes[path]}. 
                        Check your spelling and verify your routes are configured properly in the 'app-router' element.
                    `);
                } else {
                    this.routes[path] = element;
                }
            }

            this.stateChange(this);
        }

        stateChange(router) {
            let hash = window.location.hash;
            this.setAttribute('element', this.routes[hash]);
        }
    };

    customElements.define('app-router', AppRouter);
</script>