<template id="gs-chat-template">

    <style> @import "/static/styles/pure-min.css"; </style>
    <style> @import "/static/styles/global-styles.css"; </style>
    
    <style>
        .chat {
            box-shadow: 4px 4px 10px 1px rgba(194,194,194,1);
            border-radius: 5px 5px 5px 5px;
        }

        .chat-input-group {
            display: flex;
        }

        .chat-input-group input:focus {
            outline: none;
            box-shadow: 0 0 2px 3px rgba(59, 153, 252, 0.7);
        }

        .chat-input-group input {
            padding: 0.3em 1em;
            vertical-align: middle;
            flex: 1;
            border: none;
            border-top: 1px solid lightgrey;
            border-radius: 0 0 0 5px;
        }

        .chat-input-group button {
            border-radius: 0 0 5px 0;
        }

        .chat .chat-title {
            background: #00CCFF;
            font-size: 2em;
            margin: 0;
            padding: 0.5em 0;
            border-radius: 5px 5px 0 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .chat .chat-title .chat-title-section {
            flex: 1;
        }

        .chat .chat-title .chat-title-section.chat-title-controlls {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            font-size: initial;
        }

        .chat .chat-title .chat-title-section.chat-title-controlls button {
            margin: 0 15px;
            border-radius: 15px;
        }

        .chat .chat-content {
            overflow-y: scroll;
            padding: 0.3em 0.3em 0.3em 0.5em;
            height: 250px;
        }

        .chat .chat-content:hover {
            overflow-y: scroll;
        }

        .chat .chat-content .chat-me {
            max-width: 85%;
            background-color: lightblue;
            text-align: right;
            margin: 0.3em 0;
            float: right;
            clear: both;
            border-radius: 15px;
            padding: 0 5px;
        }

        .chat .chat-content .chat-them {
            max-width: 85%;
            background-color: lightgreen;
            text-align: left;
            margin: 0.3em 0;
            float: left;
            clear: both;
            border-radius: 15px;
            padding: 0 5px;
        }

        #chat-content::-webkit-scrollbar-track {
            visibility: hidden;
        }
        
        #chat-content::-webkit-scrollbar {
            width: 6px;
            visibility: hidden;
        }
        
        #chat-content::-webkit-scrollbar-thumb {
            visibility: hidden;
        }

        #chat-content:hover::-webkit-scrollbar-track {
            visibility: visible;
        }
        
        #chat-content:hover::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
            visibility: visible;
        }
        
        #chat-content:hover::-webkit-scrollbar-thumb {
            background-color: #868686;
            visibility: visible;
        }

    </style>

    <div class="chat">
        <div class="chat-title">
            <div class="chat-title-section chat-title-controlls">
                <button id="clear-screen" class="secondary-button pure-button">Clear</button>
            </div>
            <div class="chat-title-section">Chat</div>
            <div class="chat-title-section"></div>
        </div>
        
        <div id="chat-content" class="chat-content"></div>

        <div class="chat-input-group">
            <input id="chat-message" type="text" placeholder="Enter message"></input>
            <button id="send-button" class="pure-button pure-button-primary">Send</button>
        </div>
    </div>

</template>

<script>
    (function(window, document) {
        const gsChatDocument = document.currentScript.ownerDocument;
        const template = gsChatDocument.querySelector('#gs-chat-template').content;
        const mediator = window.mediator;

        class GsChat extends HTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                const clone = gsChatDocument.importNode(template, true);

                this.attachShadow({mode: 'open'});

                this.shadowRoot.appendChild(clone);

                this.shadowRoot.querySelector("#send-button").addEventListener('click', this.sendMessage.bind(this));

                this.shadowRoot.querySelector("#clear-screen").addEventListener('click', this.clearScreen.bind(this));
            }

            sendMessage() {
                const inputElem = this.shadowRoot.querySelector("#chat-message");
                const message = inputElem.value;

                if (message) {
                    mediator.publish("sendMessage", message);
                }

                inputElem.value = "";
            }

            receiveMessage({msg, from, style}) {
                const messageDiv = document.createElement('div');

                if (style === 'me') {
                    messageDiv.classList.add('chat-me');
                } else {
                    messageDiv.classList.add('chat-them');
                }
 
                let messageText = msg;

                if (from !== undefined) {
                    messageText = `${from}: ${msg}`;
                }
                
                // TODO move messages to IndexedDB
                const messageTextNode = document.createTextNode(messageText);

                messageDiv.appendChild(messageTextNode);

                const chatContent = this.shadowRoot.querySelector("#chat-content");
                chatContent.appendChild(messageDiv);

                chatContent.scrollTop = chatContent.scrollHeight;
            }

            clearScreen() {
                this.shadowRoot.querySelector('#chat-content').innerHTML = "";
            }

        }
        window.customElements.define('gs-chat', GsChat);
    })(window, document);
</script>