<template id="gs-chat-template">

    <style> @import "/static/styles/pure-min.css"; </style>
    <style> @import "/static/styles/global-styles.css"; </style>
    
    <style>
        .chat {
            box-shadow: 4px 4px 10px 1px rgba(194,194,194,1);
            border-radius: 5px 5px 0 0;
        }
        .chat-input-group {
            display: flex;
        }

        .chat-input-group input {
            padding: 0.3em 1em;
            vertical-align: middle;
            flex: 1;
            border: none;
            border-top: 1px solid lightgrey;
        }

        .chat .chat-title {
            background: #00CCFF;
            font-size: 2em;
            margin: 0;
            padding: 0.5em 0;
            border-radius: inherit;
        }

        .chat .chat-content {
            overflow: hidden;
            padding: 0.3em 0.5em;
            height: 250px;
        }

        .chat .chat-content:hover {
            overflow-y: scroll;
        }

        .chat .chat-content .chat-me {
            max-width: 85%;
            background-color: lightblue;
            text-align: right;
            margin: 0.3em 0;
            float: right;
            clear: both;
            border-radius: 15px;
            padding: 0 5px;
        }

        .chat .chat-content .chat-them {
            max-width: 85%;
            background-color: lightgreen;
            text-align: left;
            margin: 0.3em 0;
            float: left;
            clear: both;
            border-radius: 15px;
            padding: 0 5px;
        }

    </style>

    <div class="chat">
        <h2 class="chat-title">Chat</h2>
        
        <div id="chat-content" class="chat-content">
        </div>

        <div class="chat-input-group">
            <input id="chat-message" type="text" placeholder="Enter message"></input>
            <button id="send-button" class="pure-button pure-button-primary">Send</button>
        </div>
    </div>

</template>

<script>
    (function(window, document) {
        const gsChatDocument = document.currentScript.ownerDocument;
        const template = gsChatDocument.querySelector('#gs-chat-template').content;
        const mediator = window.mediator;

        class GsChat extends HTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                const clone = gsChatDocument.importNode(template, true);

                this.attachShadow({mode: 'open'});

                this.shadowRoot.appendChild(clone);

                this.shadowRoot.querySelector("#send-button").addEventListener('click', this.sendMessage.bind(this));
            }

            sendMessage() {
                let inputElem = this.shadowRoot.querySelector("#chat-message");
                let message = inputElem.value;

                if (message) {
                    mediator.publish("sendMessage", message);
                }

                inputElem.value = "";
            }

            receiveMessage(message) {
                let messageDiv = document.createElement('div');
                messageDiv.classList.add('chat-them');

                let messageText = document.createTextNode(message);

                messageDiv.appendChild(messageText);

                this.shadowRoot.querySelector("#chat-content").prepend(messageDiv);
            }

        }
        window.customElements.define('gs-chat', GsChat);
    })(window, document);
</script>