<template id="gs-game-template">

    <style> @import "/static/styles/pure-min.css"; </style>
    <style> @import "/static/styles/global-styles.css"; </style>

    <style>
        .content {
            text-align: center;
        }
        button.pure-button{
            border-radius: 20px;
        }
    </style>

    <div class="content">
        <div id="header">
            <h1>Websocket client</h1>
            <div id="status"></div>
        </div>

        <gs-chat></gs-chat>

        <div id="navigation" class="pure-g">
            <p id="connecting" class="pure-u-1">
                <button id="toggle-connection" class="secondary-button pure-button" type="button">Toggle Connection</button>
            </p>

            <div id="chat1" class="pure-u-1">
                <label for="nick-name">Chat group: </label>
                <input type="text" id="chat-room" value="a"></input>
                <button id="join-chat-room" class="secondary-button pure-button" type="button">join room</button>
                <button id="leave-chat-room" class="secondary-button pure-button" type="button">leave room</button>
                <button id="start-game" class="secondary-button pure-button" type="button">start game</button>
                <ul id="users">
                </ul>
            </div>

            <div class="pure-u-1">
                <button id="clear-screen" class="secondary-button pure-button">Clear text</button>
            </div>

            <div class="pure-u-1">
                <div id="output"></div>
            </div>

            <gs-pong></gs-pong>
        </div>

    </div>
</template>

<script src="../scripts/gs_client.js"></script>
<script>
    (function(window, document) {
        const wsHost = 'wss://www.gsserver.com:8081/websocket';
        const gsGameDocument = document.currentScript.ownerDocument;
        const template = gsGameDocument.querySelector('#gs-game-template').content;
        const sendMessageCh = "sendMessage";
        const userInputCh = "userInput";

        class GsGame extends HTMLElement {
            constructor() {
                super();
            }

            //--------------------------------------------------
            // Webcomponent callbacks
            //--------------------------------------------------

            connectedCallback() {
                const clone = gsGameDocument.importNode(template, true);

                this.attachShadow({mode: 'open'});

                this.shadowRoot.appendChild(clone);

                mediator.subscribe(sendMessageCh, this.handleMessage.bind(this));

                mediator.subscribe(userInputCh, this.handleUserInput.bind(this));

                if (!("WebSocket" in window)) {
                    let temp = document.createElement('span');
                    temp.innerHTML = `<p><span style="color: red;">websockets are not supported </span></p>`;
                    this.shadowRoot.querySelector("#status").append();
                    this.shadowRoot.querySelector("#navigation").style.display = 'none';
                } else {
                    let temp = document.createElement('span');
                    temp.innerHTML = `<p><span style="color: green;">websockets are supporteded </span></p>`;
                    this.shadowRoot.querySelector('#status').appendChild(temp);
                };

                // Register click event handlers
                this.shadowRoot.querySelector("#toggle-connection").onclick =
                    () => gs_client.toggle_connection(wsHost)
                    .then(connectionState => {
                        if (connectionState === 'connected') {
                            gs_client.on('open', evt => this.onOpen(evt));
                            gs_client.on('close', evt => this.onClose(evt));
                            gs_client.on('message', evt => this.onMessage(evt));
                            gs_client.on('error', evt => this.onError(evt));
                        }
                    });

                this.shadowRoot.querySelector("#clear-screen").onclick =
                    () => this.clearScreen();

                this.shadowRoot.querySelector("#join-chat-room").onclick =
                    () => gs_client
                    .joinChatRoom(this.shadowRoot.querySelector("#chat-room").value)
                    // .then(resp => console.log(resp))
                    .catch((error) => this.showScreen(error));

                this.shadowRoot.querySelector("#leave-chat-room").onclick =
                    () => gs_client
                    .leaveChatRoom(this.shadowRoot.querySelector("#chat-room").value)
                    // .then(resp => console.log(resp))
                    .catch((error) => this.showScreen(error));
                
                this.shadowRoot.querySelector("#start-game").onclick =
                    () => gs_client
                    .startGame(this.shadowRoot.querySelector("#chat-room").value)
                    .catch(error => this.showScreen(error));

                this.shadowRoot.querySelector("#toggle-connection").click();
            }

            disconnectedCallback() {
                mediator.remove(sendMessageCh);
                mediator.remove(userInputCh);
            }

            //--------------------------------------------------
            // Public API
            //--------------------------------------------------

            getChatRoom() {
                return this.shadowRoot.querySelector("#chat-room").value;
            }

            //--------------------------------------------------
            // Internal methods
            //--------------------------------------------------

            handleMessage(message) {
                gs_client
                    .sendTxt(this.shadowRoot.querySelector("#chat-room").value, message)
                    .catch(error => console.log(error));
            }

            handleUserInput(key) {
                gs_client
                    .sendInput(key, this.shadowRoot.querySelector("#chat-room").value)
                    .catch(error => console.log(error));
            }

            onOpen(evt) {
                let gsChat = this.shadowRoot.querySelector("gs-chat");

                gsChat.receiveMessage('CONNECTED');
            }

            onClose(evt) {
                window.location = '#/login'
            }

            onJoinGroup(evt) {
                gs_client.joinGroup(evt);
            }

            onMessage({data}) {
                let parsedData = JSON.parse(data);
                
                if (parsedData.hasOwnProperty('msg')) {
                    let gsChat = this.shadowRoot.querySelector("gs-chat");

                    let {users, msg} = parsedData;

                    gsChat.receiveMessage(msg);

                    if (users) {
                        this.updateChatGroup(users);
                    }
                } else if (parsedData.hasOwnProperty('game_objects')) {
                    let gsPong = this.shadowRoot.querySelector("gs-pong");

                    gsPong.updateGameObjects(parsedData);
                }
            }

            onError(evt) {
                let errorMessage = evt.data ? JSON.parse(evt.data).msg : 'You\'re doing it wrong.';
                this.showScreen(`<span style="color: red;">ERROR: ${errorMessage}</span>`);
            }

            showScreen(txt) {
                let temp = document.createElement('span');
                temp.innerHTML = `<p>${txt}</p>`;
                this.shadowRoot.querySelector('#output').prepend(temp);
            }

            clearScreen() {
                this.shadowRoot.querySelector('#output').innerHTML = "";
            }

            updateChatGroup(users) {
                let chatGroup = this.shadowRoot.querySelector("#users");
                chatGroup.empty();
                for (let user of users) {
                    chatGroup
                        .append(`<li id="user">${username}</li>`);
                }
            }
        }

        window.customElements.define('gs-game', GsGame);
    })(window, document);
</script>