<template id="gs-login-template">
    
    <style> @import "/static/styles/pure-min.css"; </style>
    <style> @import "/static/styles/global-styles.css"; </style>

    <style>
        .form {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }
        .form .tab a {
            text-decoration: none;
            color: rgb(61, 146, 201);
            padding: 0 10px;
        }
        .form .tab a:hover {
            text-decoration: underline;
        }
    </style>

    <div class="form">
        
        <div class="tab-content">
            <div id="signup">
                <div class="header">
                    <h1>Sign Up for Free</h1>
                </div>
                <div class="pure-controls">
                    <span class="tab active"><a href="#signup">Sign Up</a></span>
                    <span class="tab"><a href="#login">Log In</a></span>
                </div>
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Username</label>
                            <input id="name" type="text" placeholder="Username">
                        </div>
                
                        <div class="pure-control-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" placeholder="Password">
                        </div>
                
                        <div class="pure-control-group">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" placeholder="Email Address">
                        </div>
                    </fieldset>
                </form>
                <button id="signup-button" class="pure-button pure-button-primary">Submit</button>
            </div>

            <div id="login" style="display: none">
                <div class="header">
                    <h1>Welcome Back</h1>
                </div>
                <div class="pure-controls">
                    <span class="tab active"><a href="#signup">Sign Up</a></span>
                    <span class="tab"><a href="#login">Log In</a></span>
                </div>
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Username</label>
                            <input id="name" type="text" placeholder="Username" required>
                        </div>
                
                        <div class="pure-control-group">
                            <label for="password">Password</label>
                            <input id="password" type="password" placeholder="Password" required>
                        </div>

                        <div class="pure-control-group">
                            <label style="visibility: hidden;"></label>
                            <input style="visibility: hidden;">
                        </div>
                    </fieldset>
                </form>
                <button id="login-button" class="pure-button pure-button-primary">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
    // Store reference with access to the template
    let gsLoginDocument = document.currentScript.ownerDocument;

    class GsLogin extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            let shadowRoot = this.attachShadow({mode: 'open'});
            
            let template = gsLoginDocument.querySelector('#gs-login-template');
            let clone = gsLoginDocument.importNode(template.content, true);

            clone.querySelectorAll('.form input, textarea').forEach(function(element) {
                let f = function(e) {
  
                    let label = this.previousElementSibling;

                    if (e.type === 'keyup') {
                        if (this.value === '') {
                            label.classList.remove('active', 'highlight');
                        } else {
                            label.classList.add('active', 'highlight');
                        }
                    } else if (e.type === 'blur') {
                        if(this.value === '') {
                            label.classList.remove('active', 'highlight'); 
                        } else {
                            label.classList.remove('highlight');   
                        }   
                    } else if (e.type === 'focus') {
                        if(this.value === '') {
                            label.classList.remove('highlight'); 
                        } 
                        else if(this.value !== '') {
                            label.classList.add('highlight');
                        }
                    }
                };
                element.onkeyup = f;
                element.onblur  = f;
                element.onfocus = f;
            });

            clone.querySelectorAll('.tab a').forEach(function(elem) {
                elem.addEventListener('click', function (e) {
    
                    e.preventDefault();
                    
                    // siblings of element and itself
                    let children = this.parentElement.parentElement.children; 
                    for(let item of children) {
                        item.classList.remove('active');
                    }
                    elem.parentElement.classList.add('active');

                    let target = shadowRoot.querySelector(this.getAttribute('href'));

                    shadowRoot.querySelectorAll('.tab-content > div').forEach(function(element) {
                        if (element !== target) {
                            element.style.display = 'none';
                        } else {
                            element.style.display = null;
                        }
                    });
                });
            });

            shadowRoot.appendChild(clone);
        }

        disconnectedCallback() {
            gsLoginDocument.querySelectorAll('.form input, textarea').forEach(function(element) {
                element.onkeyup = element.onblur = element.onfocus = null;
            });
        }

        login() {

        }

        signUp() {

        }
    }

    customElements.define('gs-login', GsLogin);
</script>