<template id="gs-login-template">
    
    <style> @import "/static/styles/pure-min.css"; </style>
    <style> @import "/static/styles/global-styles.css"; </style>

    <style>
        .form {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }
        .form .tab a {
            text-decoration: none;
            color: rgb(61, 146, 201);
            padding: 0 10px;
        }
        .form .tab a:hover {
            text-decoration: underline;
        }
    </style>

    <div class="form">
        
        <div class="tab-content">
            <div id="signup">
                <div class="header">
                    <h1>Sign Up for Free</h1>
                </div>
                <div class="pure-controls">
                    <span class="tab active"><a href="#signup">Sign Up</a></span>
                    <span class="tab"><a href="#login">Log In</a></span>
                </div>
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="signup-username">Username</label>
                            <input id="signup-username" type="text" placeholder="Username">
                        </div>
                
                        <div class="pure-control-group">
                            <label for="signup-password">Password</label>
                            <input id="signup-password" type="password" placeholder="Password">
                        </div>
                
                        <div class="pure-control-group">
                            <label for="email">Email Address</label>
                            <input id="email" type="email" placeholder="Email Address">
                        </div>
                    </fieldset>
                </form>
                <button id="signup-button" class="pure-button pure-button-primary">Submit</button>
            </div>

            <div id="login" style="display: none">
                <div class="header">
                    <h1>Welcome Back</h1>
                </div>
                <div class="pure-controls">
                    <span class="tab active"><a href="#signup">Sign Up</a></span>
                    <span class="tab"><a href="#login">Log In</a></span>
                </div>
                <form class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="login-name">Username</label>
                            <input id="login-username" type="text" placeholder="Username" required>
                        </div>
                
                        <div class="pure-control-group">
                            <label for="login-password">Password</label>
                            <input id="login-password" type="password" placeholder="Password" required>
                        </div>

                        <div class="pure-control-group">
                            <label style="visibility: hidden;"></label>
                            <input style="visibility: hidden;">
                        </div>
                    </fieldset>
                </form>
                <button id="login-button" class="pure-button pure-button-primary">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
    (function(window, document) {
        let gsLoginDocument = document.currentScript.ownerDocument;
        let template = gsLoginDocument.querySelector('#gs-login-template').content;

        class GsLogin extends HTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                this.attachShadow({
                    mode: 'open'
                });

                let clone = gsLoginDocument.importNode(template, true);

                this.shadowRoot.appendChild(clone);

                this.shadowRoot.querySelector("#signup-button").onclick = this.signup.bind(this.shadowRoot);
                this.shadowRoot.querySelector("#login-button").onclick = this.login.bind(this.shadowRoot);

                let handle_event = function(e) {
                    let label = this.previousElementSibling;

                    if (e.type === 'keyup') {
                        if (this.value === '') {
                            label.classList.remove('active', 'highlight');
                        } else {
                            label.classList.add('active', 'highlight');
                        }
                    } else if (e.type === 'blur') {
                        if (this.value === '') {
                            label.classList.remove('active', 'highlight');
                        } else {
                            label.classList.remove('highlight');
                        }
                    } else if (e.type === 'focus') {
                        if (this.value === '') {
                            label.classList.remove('highlight');
                        } else if (this.value !== '') {
                            label.classList.add('highlight');
                        }
                    }
                };

                this.shadowRoot.querySelectorAll('.form input, textarea')
                .forEach(function(element) {
                    element.onkeyup = handle_event;
                    element.onblur = handle_event;
                    element.onfocus = handle_event;
                }.bind(this));

                this.shadowRoot.querySelectorAll('.tab a')
                .forEach(function(elem) {
                    elem.addEventListener('click', function(e) {

                        e.preventDefault();

                        // siblings of element and itself
                        let children = this.parentElement.parentElement.children;
                        for (let item of children) {
                            item.classList.remove('active');
                        }
                        elem.parentElement.classList.add('active');

                        let target = this.hash;

                        this.parentElement.parentElement.parentElement.parentElement.querySelectorAll('.tab-content > div').forEach(function(element) {
                            if (`#${element.id}` !== target) {
                                element.style.display = 'none';
                            } else {
                                element.style.display = null;
                            }
                        });
                    });
                }.bind(this));
            }

            disconnectedCallback() {
                gsLoginDocument.querySelectorAll('.form input, textarea')
                .forEach(function(element) {
                    element.onkeyup = element.onblur = element.onfocus = null;
                });
            }

            login() {
                let username = this.querySelector("#login-username").value;
                let password = this.querySelector("#login-password").value;
                let body = JSON.stringify({
                    type: "login",
                    username: username,
                    password: btoa(password),
                });
                fetch('/login', {
                    method: 'post',
                    credentials: 'include',
                    body: body,
                }).then(resp => {
                    if (resp.status === 200) {
                        window.location = '#/game';
                    }
                });
            }

            signup() {
                let username = this.querySelector("#signup-username").value;
                let password = this.querySelector("#signup-password").value;
                let body = JSON.stringify({
                    type: "signup",
                    username: username,
                    password: password,
                });
                fetch('/login', {
                    method: 'post',
                    credentials: 'include',
                    body: body,
                }).then(resp => {
                    console.log(resp);
                });;
            }
        }

        window.customElements.define('gs-login', GsLogin);
    })(window, document);
</script>