<template id="gs-pong-template">
    
        <style> @import "/static/styles/pure-min.css"; </style>
        <style> @import "/static/styles/global-styles.css"; </style>
        
        <!-- <style>
        </style> -->

    <canvas id="canvas" width="800" height="300" tabindex="1"></canvas>
    
    </template>
    
    <script>
        (function(window, document) {
            const gsPongDocument = document.currentScript.ownerDocument;
            const template = gsPongDocument.querySelector('#gs-pong-template').content;
            const mediator = window.mediator;

            // Canvas width and height
            const w = 800;
            const h = 300;

            const initialGameState = {
                game_objects: {
                    name: "root",
                    x: 0,
                    y: 0,
                    width: 0,
                    height: 0,
                    color: 'white',
                    render: false,
                    children: [
                        {
                            name: "paddle1",
                            x: 10,
                            y: 0,
                            width: 20,
                            height: 100,
                            color: 'white',
                            children: [],
                            render: true,
                        },
                        {
                            name: "paddle2",
                            x: 770,
                            y: 0,
                            width: 20,
                            height: 100,
                            color: 'white',
                            children: [],
                            render: true,
                        },
                        {
                            name: "ball",
                            x: w/2,
                            y: h/2,
                            width: 10,
                            height: 10,
                            color: 'green',
                            children: [],
                            render: true,
                        },
                    ]
                }
            };
    
            class GsPong extends HTMLElement {
                constructor() {
                    super();
                }
    
                connectedCallback() {
                    const clone = gsPongDocument.importNode(template, true);
    
                    this.attachShadow({mode: 'open'});
    
                    this.shadowRoot.appendChild(clone);

                    const canvas = this.shadowRoot.querySelector("#canvas");

                    this.updateGameObjects(initialGameState);

                    // Wire up user input to the server
                    canvas.addEventListener('keydown', this.onKeyDown.bind(this), false);
                }
    
                disconnectedCallback() {
                    this.shadowRoot.querySelector("#canvas").removeEventListener('keydown', this.onKeyDown, false);
                }

                onKeyDown(event) {
                    switch (event.key) {
                        case 'ArrowUp':
                        case 'ArrowDown':
                            mediator.publish('userInput', event.key);
                            event.preventDefault();
                            break;
                        default:
                            // ignore all other input keys
                    }
                }

                updateGameObjects({game_objects}) {
                    const canvas = this.shadowRoot.querySelector("#canvas");
                    const ctx = canvas.getContext('2d');

                    this.renderBackground(ctx);
                    this.renderGameObjects(ctx, game_objects);
                }

                renderBackground(ctx) {
                    // Set the background to black
                    ctx.fillStyle = 'black';
                    ctx.fillRect(0, 0, w, h);
                }

                renderGameObjects(ctx, {name, x, y, width, height, color, children, render}) {
                    if (render) {
                        ctx.fillStyle = color;
                        ctx.fillRect(x, y, width, height);
                    }

                    for (let child of children) {
                        this.renderGameObjects(ctx, child);
                    }
                }
    
            }
            window.customElements.define('gs-pong', GsPong);
        })(window, document);
    </script>